name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 26
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '26-ea'
    - name: Build with Maven
      run: ./mvnw -B clean package
